<!DOCTYPE html>
<html lang="en">
<head>
    <title>TheNews</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Styles -->
    <div th:replace="components/style.html"></div>
</head>
<body>
<header>
    <div th:replace="components/header.html"></div>
</header>

<!-- Start top-post Area -->
<section class="top-post-area pt-10">
    <div class="container no-padding">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-nav-area">
                    <h1 class="text-white">Error</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End top-post Area -->
<section class="top-post-area pt-1">
    <div class="container no-padding">
        <div class="login-form" style="border: solid #000000;">
            <h3 style="text-align: center">Sorry, we cannot find this page.</h3>

        </div>
    </div>
    </div>
</section>
<br><br><br>
</body>
</html>