<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>TheNews</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <div th:replace="components/style.html"></div>

</head>
<body>
<header>
    <div th:replace="components/header.html"></div>
</header>

<div class="site-main-container">
    <!-- Start top-post Area -->
    <section class="top-post-area pt-10">
        <div class="container no-padding">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-nav-area">
                        <h1 class="text-white">Modify post</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End top-post Area -->
    <!-- Start contact-page Area -->
    <section class="contact-page-area pt-50 pb-120">
        <div class="container">
            <div class="row contact-wrap">
                <div class="col-lg-12 form-area contact-form text-left" id="post">
                    <form name="f" th:action="@{/admin/modifyPost}" method="post" th:object="${post}">
                        <div>
                            <div class="col-lg-12">
                                <input type="hidden" name="postid" th:value="${post.postid}"/>
                                <label for="postid">Title</label>
                                <input th:field="*{title}" th:value="*{title}" th:placeholder="${post.title}" name="name" class="common-input mb-20 form-control" required="" type="text">
                                <label for="postid">Subtitle</label>
                                <input th:field="*{subtitle}" th:value="*{subtitle}" name="email" placeholder="Post subtitle" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Post subtitle'" class="common-input mb-20 form-control" required="" type="text">
                                <label for="postid">Category</label>
                                <select th:field="*{categoryid}" name="_categoria" id="inputCategory" class="common-input mb-20 form-control text-capitalize">
                                    <option th:each="category : ${categories}" th:value="${category.categoryid}"  th:text="${category.name}"></option>
                                </select>
                                <label for="postid">User</label>
                                <select th:field="*{userid}" class="common-input mb-20 form-control">
                                    <option th:each="user : ${users}" th:value="${user.userid}"  th:text="${user.firstname + ' ' + user.lastname}"></option>
                                </select>
                                <label for="postid">Image</label>
                                <input th:field="*{image}" th:value="*{image}" name="subject" placeholder="Image URL" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Image URL'" class="common-input mb-20 form-control" required="" type="text">
                                <label for="postid">Content</label>
                                <textarea th:field="*{content}" th:value="*{content}" style="width:100%; height:30%;"></textarea>
                                <br>
                                <br>
                                <div class="col-lg-12">
                                    <div class="alert-msg" style="text-align: left;"></div>
                                    <button type="submit" class="primary-btn primary" style="float: left;">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact-page Area -->
</div>
</body>
</html>